
{% load static %}
<html lang="en">
<head>
    <title>BlogSite</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">BlogSite</a>
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="/accounts/logout/">Logout</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="/accounts/login/">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>

